@import url('https://fonts.cdnfonts.com/css/luminari');
@import url('https://fonts.cdnfonts.com/css/tex-gyre-schola');
@import url('./animations.css');

:root {
  --bg-color-main: linear-gradient(325deg,rgba(83, 33, 184, 0.7) 0%, rgba(122, 52, 168, 0.7) 50%, rgba(151, 36, 166, 0.7) 100%);
  --bg-color-main-reversed: linear-gradient(145deg,rgba(83, 33, 184, 0.7) 0%, rgba(122, 52, 168, 0.7) 50%, rgba(151, 36, 166, 0.7) 100%);
  --bg-color-addit: linear-gradient(145deg,rgba(52, 224, 138, 0.8) 0%, rgba(48, 201, 171, 0.8) 50%, rgba(51, 196, 204, 0.8) 100%);
  --outline-color-main: rgb(27, 0, 63);
  --outline-color-addit: #ffee8d;
  --outline-color-green: rgb(10, 97, 44);
  --field-bg-color: rgb(254, 249, 255);
}

* {
  font-family:'Bookman Old Style',Bookman,'URW Bookman L','Palatino Linotype',serif;
  box-sizing: border-box;
  position: relative;
  scroll-behavior: smooth;
  font-size: 20px;
  padding: 0;
  margin: 0;
  transition: all 300ms ease;
}

.special {
  font-family: 'Luminari', sans-serif;
}

.error {
  display: block;
  max-width: 90%;
  width: 600px;
  margin: auto;
  color: #dc3545;
  padding: 10px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #f8d7f5;
  outline: 2px solid #f5c6dc;
  font-weight: bold;
}

.bg {
    position: absolute;
    top: 0;
    background-color: #270c25;
    background-size: cover;
    min-width: 100vw;
    min-height: 100%;
    height: fit-content;
}

.container {
  margin: 25px auto;
  width: 1500px;
  max-width: 90vw;
  padding: 3vh 3.5vw;
  padding-bottom: 4.5vh;
  background: radial-gradient(circle,rgba(255, 255, 255, 0.6) 0%, rgba(200, 173, 255, 0.6) 100%);
  min-height: 80vh;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

input, select {
  background-color: var(--field-bg-color);
}

.page-title-mobile {
  display: none !important;
}

@media screen and (max-width: 750px) {
  .page-title-pc {
    display: none !important;
  }
  .page-title-mobile {
    display: block !important;
  }
}