.auth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: fit-content;
}

.bg {
    background-image: url("/public/bg/index-bg.jpg");
}
.bg::after {
    content: "";
    background-color: #27041e13;
    display: block;
    width: 100%;
    height: 100%;
}

.auth-container {
    background: var(--bg-color-main);
    outline: 4px solid var(--outline-color-main);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 580px;
    max-width: 80vw;
    padding: 30px 30px;
    margin: 40px auto;
}

h1 {
    display: block;
    margin: auto;
    color: white;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
    font-size: 46px;
    text-decoration: underline;
    text-underline-offset: 30px;
    text-decoration-thickness: 3px;
    margin-bottom: 35px;
}

p {
    display: block;
    color: white;
    margin: auto;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.description {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.3em;
    margin-bottom: 30px;
}

.hint {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.tabs {
    width: 330px;
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.tabs button {
    padding: 10px 28px;
    cursor: pointer;
    border: none;
    background-color: rgba(52, 4, 52, 0.5);
    outline: 2px solid var(--outline-color-addit);
    border-radius: 10px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
    transition: all 300ms ease;
}

.tabs button.active {
    background-color: rgb(99, 4, 94);
    color: white;
    box-shadow: 0px 0px 10px white;
}

.tabs button:hover {
    box-shadow: 0px 0px 10px white;
    transform: scale(1.08);
    background-color: rgb(75, 0, 110);
}

form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 330px;
    max-width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.input-wrapper input {
    width: 100%;
    padding: 10px 15px;
    border: none;
    outline: 2px solid var(--outline-color-main);
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
    letter-spacing: 1px;
    color: black;
    background-color: var(--field-bg-color);
}

.password {
    letter-spacing: 2px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2em;
  padding: 0;
  transition: all 300ms ease;
}

.toggle-password:hover {
  opacity: 0.7;
}

.input-phone::placeholder {
  color: black;
}

.checkbox-wrapper {
    margin: auto;
    margin-top: 6px;
    margin-bottom: 12px;
}

.checkbox {
    appearance: none;
    display: inline-block;
    width: 26px;
    height: 26px;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
    outline: 1px solid var(--outline-color-addit);
    border: none;
    background-color: rgb(99, 4, 94);
    border-radius: 6px;
    transition: all 300ms ease;
    margin-right: 16px;
    top: 2px;
}

.checkbox:hover {
    box-shadow: 0px 0px 10px white;
    transform: scale(1.08);
    background-color: rgb(75, 0, 110);
}

.checkbox:checked::before {
    content: '';
    position: absolute;
    left: 8px;
    top: 5px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox-text {
    color: white;
    opacity: 0.9;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    font-size: 16px;
}


.checkbox-license-link {
    display: inline-block;
    color: var(--outline-color-addit);
    font-size: 16px;
    text-underline-offset: 3px;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);
    transition: all 300ms ease;
}

.checkbox-license-link:hover {
    transform: translateY(1px) translateX(1px);
    text-shadow: 1px 1px 13px rgba(255, 255, 255, 0.7);
}


button[type="submit"] {
    display: block;
    padding: 10px;
    background: var(--bg-color-addit);
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    font-size: 22px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 16px rgb(0, 58, 19);
    outline: 2px solid #00000000;
    transition: all 300ms ease;
}

button[type="submit"]:hover {
    outline-color: var(--outline-color-addit);
    box-shadow: 0px 0px 16px rgb(255, 255, 255);
    transform: scale(1.05);
}

.error, .success {
    max-width: 90%;
    width: 430px;
    margin: auto;
    color: #dc3545;
    padding: 10px 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #f8d7f5;
    outline: 2px solid #f5c6dc;
    font-weight: bold;
}

.success {
    display: block;
    margin: auto;
    max-width: 90%;
    color: rgb(22, 170, 79);
    margin-top: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 20px rgba(139, 255, 201, 0.5);
    background: #d2ffd6;
    outline-color: #74c27a;
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 550px) {
    h1 {
        font-size: 36px;
    }
    .tabs button {
        padding: 10px 22px;
    }
}

@media screen and (max-width: 470px) {
    .tabs button {
        padding: 10px 18px;
    }
    .auth-container {
        max-width: 85vw;
    }
}

@media screen and (max-width: 420px) {
    .tabs button {
        padding: 10px 5vw;
    }
    .auth-container {
        max-width: 95vw;
        padding: 20px 10px;
    }
}

@media screen and (max-width: 330px) {
    .tabs button {
        padding: 10px 4vw;
    }
    h1 {
        font-size: 32px;
    }
}
